#carouselExampleControls img{
    max-height: 340px;
}

  @media screen and (max-width: 720px) {
    body{
        background-color: black;
    }
    #carouselExampleControls img{
        max-height: 140px;
    }
    .card-body {
        background-color: black;
        color: #f6f6f6;
    }
    .card{
        background-color: black;
    }
  }
